.markdown{
    margin: 0;
    color: #444444;
    line-height: 1;
	padding: 30px;
	padding-left: 256px;
	max-width: 960px;
}

h1, h2, h3, h4 {
	font-family: Brawler, Georgia;
    color: #111111;
    font-weight: 400;
}
h1, h2, h3, h4, h5, p {
    margin-bottom: 24px;
    padding: 0;
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 36px;
    /* The bottom margin is small. It's designed to be used with gray meta text
     * below a post title. */
    margin: 24px 0 6px;
	margin-top: 0px;
}
h3 {
    font-size: 24px;
	background-color: #BCF097;
	border-top: 3px;
	border-top-color: #90D855;
	border-style: solid;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
	padding: 8px;
}
h4 {
    font-size: 21px;
	margin-top: 1em;
	margin-bottom: 0.5em;
}
h5 {
    font-size: 18px;
}
.h2-keyword {
	color: #DDD;
}
a {
    color: #0099ff;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
	text-decoration: none;
}
a:hover {
    color: #ff6600;
}
a:visited {
    color: #0099ff;
}
ul, ol {
    padding: 0;
    margin: 0;
	margin-left: 2.5em;
}
li {
    line-height: 24px;
}
li ul, li ul {
    margin-left: 24px;
}
p, ul, ol {
    font-size: 16px;
    line-height: 24px;
	max-width: 816px;
}
ul, ol {
	max-width: 90%;
}
pre {
    max-width: 800px;
    white-space: pre-wrap;
	border: solid 1px #C4C4C4;
	border-radius: 0.35em;
	padding: 10px;
	background-color: #F8F8F8;
}
code {
    font-family: Consolas, Monaco, Andale Mono, monospace;
    line-height: 1.5;
    font-size: 13px;
	border: solid 1px #C4C4C4;
	border-radius: 0.35em;
	padding: 1px;
	background-color: #F8F8F8;
}
pre > code {
	line-height: 1.3;
    font-size: 13px;
	
	border: none;
	border-radius: 0;
	padding: 0;
	background-color: none;
}
aside {
    display: block;
    float: right;
    width: 390px;
}
blockquote {
    /*border-left:.5em solid #eee;*/
    padding: 0 2em;
    margin-left:0;
    max-width: 476px;
}
blockquote > p {
	margin-top: 0px;
	margin-bottom: 0px;
}
blockquote  cite {
    font-size:14px;
    line-height:20px;
    color:#bfbfbf;
}
blockquote cite:before {
    content: '\2014 \00A0';
}

blockquote p {  
    color: #666;
    max-width: 460px;
}
hr {
    width: 540px;
    text-align: left;
    margin: 0 auto 0 0;
    color: #999;
}
table {
	border: solid 1px #C4C4C4;
	border-collapse: collapse;
	padding: 3px;
}
thead {
	background-color: #F8F8F8;
}
th, tr, td {
	border: solid 1px #C4C4C4;
	padding: 8px;
}
th {
	min-width: 16px;
}